/* styleopilane.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 30px;
}

.user-box {
    display: inline-block;
    width: 200px; /* фиксированная ширина */
    height: 200px; /* фиксированная высота */
    margin: 10px;
    padding: 20px;
    border: 2px solid #007BFF;
    border-radius: 10px; /* скругленные углы */
    cursor: pointer;
    transition: all 0.3s;
    background-color: #f0f8ff;
    color: #007BFF;
    font-weight: bold;
    font-size: 1.2em; /* увеличенный размер шрифта */
    text-decoration: none;
    text-align: center;
    line-height: 160px; /* выравнивание текста по центру по вертикали */
    box-sizing: border-box; /* учитываем padding в размере блока */
}

.user-box:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.05);
}
